stages:
  - build

build_project:
  stage: build
  image: ubuntu:22.04
  before_script:
    - echo "Starting build environment..."
    - apt-get update -qy
    - apt-get install -y build-essential 
    - apt-get install -y libgl1-mesa-dev libglu1-mesa-dev freeglut3-dev freeglut3 libfreeimage-dev libfreeimage3
    - echo "System dependecy installation complete."

  script:
    - echo "Building the project..."
    - make
    - echo "Build complete."
    
    # Blocco unico per il packaging delle dipendenze
    - |
      mkdir -p libs
      
      echo "--- 1. Copia librerie principali ---"
      cp engine/bin/Release/libengine.so libs/
      cp /usr/lib/x86_64-linux-gnu/libglut.so.3 libs/
      cp /usr/lib/x86_64-linux-gnu/libfreeimage.so.3 libs/

      echo "--- 2. Copia dipendenze immagini estese ---"
      
      # FIX WEBP: L'asterisco dopo libwebp serve a prendere anche libwebpmux, libwebpdemux, ecc.
      find /usr/lib -name "libwebp*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libsharpyuv*.so*" -exec cp {} libs/ \;
      
      # JPEG XR e OpenJPEG
      find /usr/lib -name "libjxr*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libjpegxr*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libopenjp2.so*" -exec cp {} libs/ \;
      
      # Raw e altri formati
      find /usr/lib -name "libraw.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libpng16.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libtiff.so*" -exec cp {} libs/ \;
      
      # Librerie di supporto colore e compressione (spesso richieste da FreeImage)
      find /usr/lib -name "liblcms2.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libgomp.so*" -exec cp {} libs/ \;
      find /usr/lib -name "liblzma.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libzstd.so*" -exec cp {} libs/ \;

      # OpenEXR (High dynamic range)
      find /usr/lib -name "libImath*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libIlmImf*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libHalf*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libIex*.so*" -exec cp {} libs/ \;
      
      echo "Packaging completato. Contenuto:"
      ls -l libs/

  artifacts:
    name: "$CI_JOB_NAME-artifacts"
    expire_in: 1 week
    paths:
      - client/bin/Debug/client
      - client/bin/Release/client
      - engine/bin/Debug/libengine.so
      - engine/bin/Release/libengine.so
      - libs/