stages:
  - structure
  - engine
  - client

image: gitlab-edu.supsi.ch:5050/dti-isin/labingsw/common:ubuntu2404-cg

structure:
  stage: structure
  script:
    - '[ -d engine ] || exit 1'
    - '[ -d client ] || exit 1'


engine:
  stage: engine
  before_script:
    - cd engine
  script:
    - make clean
    - make release
    # Verifica che la libreria sia stata creata
    - ls -l bin/Release/libengine.so
  after_script:
    - cd ..
  artifacts:
    name: "engine-lib"
    paths:
      # È fondamentale che questo percorso sia ESATTO (relativo alla root del progetto)
      - engine/bin/Release/libengine.so
    expire_in: 1 week


client:
  stage: client
  # Questa sezione è CRUCIALE: dice al runner di scaricare gli artefatti di 'engine'
  dependencies:
    - engine
  before_script:
    - cd client
  script:
    # DEBUG: Controlliamo se la libreria è arrivata
    - echo "Controllo presenza libengine.so..."
    - ls -l ../engine/bin/Release/
    
    - make clean
    - make release
    
    # Copia asset e libreria per l'artefatto finale
    - cp tavolo.ovo bin/Release/
    - cp -r texture bin/Release/
    - cp ../engine/bin/Release/libengine.so bin/Release/
  after_script:
    - cd ..
  artifacts:
    paths:
      - client/bin/Release/