stages:
  - structure
  - engine
  - client

image: gitlab-edu.supsi.ch:5050/dti-isin/labingsw/common:ubuntu2404-cg

structure:
  stage: structure
  script:
    - '[ -d engine ] || exit 1'
    - '[ -d client ] || exit 1'


engine:
  stage: engine
  before_script:
    - cd engine
  script:
    - make clean
    - make release
#   - make test
    # Verifica che la libreria sia stata creata
    - ls -l bin/Release/libengine.so
  after_script:
    - cd ..
  artifacts:
    name: "engine-lib"
    paths:
      # È fondamentale che questo percorso sia ESATTO (relativo alla root del progetto)
      - engine/bin/Release/libengine.so
    expire_in: 1 week


client:
  stage: client
  needs: 
    - job: engine
      artifacts: true
  before_script:
    - cd client
  script:
    - make clean
    - make release
    
    # --- PACKAGING ROBUSTO ---
    
    # 1. Copia asset e engine (come facevi già)
    - cp tavolo.ovo bin/Release/
    - cp -r texture bin/Release/
    - cp ../engine/bin/Release/libengine.so bin/Release/
    
    - echo "Build complete."
    
    # Blocco unico per il packaging delle dipendenze
    - |
      mkdir -p libs
      
      echo "--- 1. Copia librerie principali ---"
      cp engine/bin/Release/libengine.so libs/
      cp /usr/lib/x86_64-linux-gnu/libglut.so.3 libs/
      cp /usr/lib/x86_64-linux-gnu/libfreeimage.so.3 libs/

      echo "--- 2. Copia TUTTA la suite OpenEXR (IlmThread, Imath, ecc.) ---"
      # Questo asterisco è fondamentale: prende IlmThread, IlmImf, ecc.
      find /usr/lib -name "libIlm*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libImath*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libIex*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libHalf*.so*" -exec cp {} libs/ \;
      
      echo "--- 3. Copia dipendenze WebP e JXR ---"
      find /usr/lib -name "libwebp*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libsharpyuv*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libjxr*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libjpegxr*.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libopenjp2.so*" -exec cp {} libs/ \;
      
      echo "--- 4. Copia dipendenze generiche (Raw, Tiff, Compressioni) ---"
      find /usr/lib -name "libraw.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libpng16.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libtiff.so*" -exec cp {} libs/ \;
      # Queste servono spesso a Tiff e OpenEXR
      find /usr/lib -name "libdeflate.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libjbig.so*" -exec cp {} libs/ \;
      find /usr/lib -name "liblzma.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libzstd.so*" -exec cp {} libs/ \;
      find /usr/lib -name "libgomp.so*" -exec cp {} libs/ \;
      find /usr/lib -name "liblcms2.so*" -exec cp {} libs/ \;

      echo "Copying assets..."
  

      echo "Packaging completato."
      ls -l libs/

    
    # 3. Genera uno script di avvio "universale"
    # Questo serve a dire a Linux: "Prima di cercare nel sistema, guarda in QUESTA cartella"
    - echo '#!/bin/bash' > bin/Release/run.sh
    - echo 'export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:.' >> bin/Release/run.sh
    - echo './client' >> bin/Release/run.sh
    - chmod +x bin/Release/run.sh

  after_script:
    - cd ..
  artifacts:
    paths:
      - client/bin/Release/
